.nav {
  background-color: #2b2d42;
  color: #d3d5f3;
  padding: 2rem 0;

  &-wrapper {
    display: grid;
    grid-template-columns: 10% 25% 65%;
    align-items: center;
  }

  &-search {
    min-width: 100%;
    padding: 1.1rem 1.75rem 1.1rem 1.75rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
  }

  &-logo {
    font-weight: 700;
    color: #fafafa;
    font-size: 1.8rem;
  }

  &-links {
    margin-left: auto;
  }

  &-link {
    color: #d3d5f3;
    font-weight: 500;
  }
}
