.nav {
  background-color: #2b2d42;
  color: #d3d5f3;
  padding: 2.5rem 0;

  &-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
  }

  &-logo {
    font-weight: 700;
    color: #fafafa;
    font-size: 1.8rem;
  }

  &-links {
    text-align: end;
  }

  &-link {
    color: #d3d5f3;
    font-weight: 500;

    &:not(:last-of-type) {
      margin-right: 3rem;
    }
  }
}
