.nav {
  background-color: var(--background-color-light);
  color: var(--text-light);
  padding: 2.5rem 0;

  &-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
  }

  &-logo {
    font-weight: 700;
    color: var(--color-white);
    font-size: 1.8rem;
  }

  &-links {
    text-align: end;
  }

  &-link {
    color: var(--text-light);
    font-weight: 500;

    &:not(:last-of-type) {
      margin-right: 3rem;
    }
  }
}
