<div class="anime container" *ngIf="animes$ | async as anime">
  <div class="main-overlay">
    <img
      class="cover-image"
      src="{{ anime.images.webp.large_image_url }}"
      alt="{{ anime.title }}"
    />
    <div class="main-content">
      <h3>{{ anime.title }}</h3>
      <div class="main-info">
        <h5>
          Rank: <span>{{ anime.rank }}</span>
        </h5>
        <h5>
          Score: <span>{{ anime.score }}</span>
        </h5>
        <h5>
          Popularity: <span>{{ anime.popularity }}</span>
        </h5>
        <h5>
          Members: <span>{{ anime.members }}</span>
        </h5>
      </div>
      <p class="synopsis">{{ anime.synopsis }}</p>
    </div>
  </div>
  <div class="secondary-content">
    <div class="additional-info">
      <div class="item">
        <h5>Format</h5>
        <p>{{ anime.type }}</p>
      </div>
      <div class="item">
        <h5>Source</h5>
        <p>{{ anime.source }}</p>
      </div>
      <div class="item">
        <h5>Episodes</h5>
        <p>{{ anime.episodes }}</p>
      </div>
      <div class="item">
        <h5>Status</h5>
        <p>{{ anime.status }}</p>
      </div>
      <div class="item">
        <h5>Duration</h5>
        <p>{{ anime.duration }}</p>
      </div>
      <div class="item">
        <h5>Rating</h5>
        <p>{{ anime.rating }}</p>
      </div>
      <div class="item">
        <h5>Season</h5>
        <p>{{ anime.season }}</p>
      </div>
      <div class="item">
        <h5>Broadcast</h5>
        <p>{{ anime.broadcast.string }}</p>
      </div>
    </div>
    <div class="tertiary-content">
      <!-- <div class="trailer">
        <h4>Trailer</h4>
        <iframe
          width="500"
          height="200"
          [src]="anime.trailer.embed_url | safe"
          frameborder="0"
          controls="0"
          autostart="false"
        ></iframe>
      </div>
    </div> -->
    </div>
  </div>
</div>
