.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 2rem;

  @media (max-width: 1240px) {
    max-width: 1140px;
  }

  @media (max-width: 960px) {
    max-width: 960px;
  }

  @media (max-width: 768px) {
    max-width: 720px;
  }

  @media (max-width: 600px) {
    max-width: 540px;
  }
}
