@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  // Light Mode
  --color-background-light: #edf1f5;
  --background-color-light: #2b2d42;
  --text-light: #d3d5f3;
  --limed-spruce: #343e46;
  --nepal: #90a1b8;
  --blue-bayoux: #567085;
  --background-color-footer: #11161d;
  --color-white: #fafafa;

  // Font Size
  --fs-400: 1.3rem;
  --fs-500: 1.4rem;
  --fs-550: 1.5rem;
  --fs-600: 1.6rem;
  --fs-700: 2.4rem;
}
