.search {
  margin-top: 8rem;
  margin-bottom: 8rem;

  &-form {
    text-align: center;
    padding-bottom: 4rem;
  }

  &-input {
    width: 500px;
    padding: 1.25rem 0 1.25rem 1.75rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
  }

  &-found {
    margin-top: 2rem;
    color: var(--blue-bayoux);
    font-weight: 500;
  }
}
